version: '3.8'

services:
  database:
    build:
      context: ./
      dockerfile: ./docker/postgis.dockerfile
    restart: always
    ports:
      - "6452:5432"
    volumes:
      # init tables
      - ./sql_schemes/init.sql:/docker-entrypoint-initdb.d/init.sql
      # fill tables
      #      - ./sql_schemes/fill_tables/fill_office.sql:/docker-entrypoint-initdb.d/fill_office.sql
      #      - ./sql_schemes/fill_tables/fill_handling.sql:/docker-entrypoint-initdb.d/fill_handling.sql

      - ./db/${ENVIRONMENT:-develop}/postgres/data:/var/lib/postgresql/data
    env_file:
      - env/${ENVIRONMENT:-develop}/database.env
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "2g"

  app:
    build:
      context: ./
      dockerfile: ./docker/app.dockerfile
    ports:
      - "8070:8070"
    restart: on-failure
    env_file:
      - env/${ENVIRONMENT:-develop}/app.env
    depends_on:
      - database
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "2g"
